header {
  background: #bbbbbb;
  padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  right: 0;
  top: 110px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.principal {
  background: #cccccc;
  padding: 30px;
}

#banner {
  width: 100%;
}

.titulo-centralizado {
  text-align: center;
}

main p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

main em strong {
  color: #ff0000;
}

.beneficios {
  background: #ffffff;
  padding: 20px;
}

.itens {
  font-style: italic;
}

main h2 {
  text-align: center;
}

main ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 50%;
}

footer {
  background: url("./img/bg.jpg");
  text-align: center;
  padding: 40px;
}

.copyright {
  color: #cccccc;
  font-size: 13px;
  margin: 24px 0 0;
}
